.blue-text{
    color: blue;
}
.green-text{
    color: green;
}
.red-text{
    color: red;
}
#purple-background{
    background-color: rgb(101,50,125)
}
#orange-background{
    background-color: orange
}